[package]
name = "m0n1t0r-common"
version.workspace = true
authors.workspace = true
description.workspace = true
readme.workspace = true
edition = "2021"
repository.workspace = true
build = "build.rs"

[dependencies]
anyhow = "1.0"
remoc = { git = "https://github.com/MMitsuha/remoc.git", branch = "stable",  features = ["full", "codec-message-pack", "default-codec-message-pack", "rmp-serde"], default-features = false }
serde = { version = "1.0", features = ["derive"] }
strum = { version = "0.26", features = ["derive"] }
thiserror = "2.0"
tokio = { version = "1.41", features = ["full"] }
tokio-util = "0.7"
shell-words = "1.1"
rsntp = "4.0"
chrono = "0.4"
log = "0.4"
serde-error = "0.1"
sysinfo = "0.33"
reqwest = { version = "0.12", features = ["json"] }
url = { version = "2.5", features = ["serde"] }
self-replace = "1.5"
cxx = "1.0"
m0n1t0r-macro = { path = "../m0n1t0r-macro" }
qqkey = { path = "../deps/qqkey" }
rmp-serde = "1.3"
async-compression = { version = "0.4", features = ["lzma", "tokio"] }
futures = "0.3"
async-channel = "2.3"
async_channel_io = "0.3"
async-compat = "0.2"
async-stream = "0.3"
rustls = { version = "0.23", features = ["ring", "log", "logging", "std", "tls12"], default-features = false }
ring-channel = "0.12"
rayon = "1.10.0"

[build-dependencies]
cargo-emit = "0.2"
vergen = { version = "9.0.0", features = ["build", "cargo", "rustc", "si"] }
m0n1t0r-build = { path = "../m0n1t0r-build" }
