[package]
name = "m0n1t0r-macro"
version.workspace = true
authors.workspace = true
description.workspace = true
readme.workspace = true
edition = "2024"
repository.workspace = true

[lib]
proc-macro = true

[dependencies]
syn = "2.0.108"
quote = "1.0.41"
proc-macro2 = "1.0.102"
