name: Build on Ubuntu

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4
    - uses: xmake-io/github-action-setup-xmake@v1

    - name: Install dependencies
      run: sudo apt install -y libpipewire-0.3-dev clang libdbus-glib-1-dev libclang-dev libspa-0.2-dev libboost-all-dev autoconf automake python3 autoconf-archive libxss-dev libxxf86vm-dev libxkbfile-dev libxv-dev
    
    - name: Generate certificates
      run: cd ./certs && ./generate.sh && cd ..

    - name: Install cxxbridge
      run: cargo install cxxbridge-cmd

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        vcpkgGitCommitId: 'cd124b84feb0c02a24a2d90981e8358fdee0e077'

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: 6.8.0
        dir: ${{ github.workspace }}/qt/
        modules: 'qtwebsockets'

    - name: Build
      run: cargo build --verbose

    - name: Build release
      run: cargo build -r --verbose

    - name: Build debug sdk
      run: cd ./m0n1t0r-sdk-cpp && xmake f -m debug -y -v && xmake build -y -v && xmake package && cd ..

    - name: Build release sdk
      run: cd ./m0n1t0r-sdk-cpp && xmake f -m release -y -v && xmake build -y -v && xmake package && cd ..
    
    - name: Build debug ui
      run: cd ./m0n1t0r-ui && xmake f -m debug --qt=${{ github.workspace }}/qt/ -v -y && xmake build -y -v && cd ..
     
    - name: Build release ui
      run: cd ./m0n1t0r-ui && xmake f -m release --qt=${{ github.workspace }}/qt/ -v -y && xmake build -y -v && cd ..
   
    - name: Run tests
      run: cargo test --verbose
