name: Ubuntu Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      VCPKG_ROOT: ${{ github.workspace }}/vcpkg

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
      
    - name: Install xmake
      uses: xmake-io/github-action-setup-xmake@v1

    - name: Install dependencies
      run: |
        sudo apt install -y zip g++ gcc git curl wget nasm yasm libgtk-3-dev clang libxcb-randr0-dev libxdo-dev libxfixes-dev libxcb-shape0-dev libxcb-xfixes0-dev libasound2-dev libpulse-dev cmake make libclang-dev ninja-build libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libpam0g-dev xmake pkg-config libavutil-dev libavcodec-dev libavdevice-dev libavfilter-dev libavformat-dev libswresample-dev libswscale-dev

    - name: Clone vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg

    - name: Bootstrap vcpkg
      run: |
        ./vcpkg/bootstrap-vcpkg.sh

    - name: Install dependencies with vcpkg
      run: |
        ./vcpkg/vcpkg install libvpx libyuv opus aom mfx-dispatch ffmpeg

    - name: Install cxxbridge-cmd
      run: |
        cargo install cxxbridge-cmd

    - name: Run cargo xtask
      run: |
        cargo xtask -c

    - name: Build m0n1t0r-server (release)
      run: |
        cargo build --bin m0n1t0r-server -r

    - name: Build m0n1t0r-client (release, linux features)
      run: |
        cargo build --bin m0n1t0r-client --features linux -r

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: m0n1t0r-linux
        path: |
          ./target/release/m0n1t0r-server
          ./target/release/m0n1t0r-client
