name: Build on Windows

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: xmake-io/github-action-setup-xmake@v1

    - uses: msys2/setup-msys2@v2
    - shell: powershell
      run: msys2 -c 'cd ./certs && ./generate.sh'

    - name: Install cxxbridge
      run: cargo install cxxbridge-cmd

    - name: Build debug
      run: cargo build--verbose --features "windows" 

    - name: Build release
      run: cargo build -r --verbose --features "windows"

    - name: Run tests
      run: cargo test --verbose --features "windows" 
