[package]
name = "m0n1t0r-server"
version.workspace = true
authors.workspace = true
description.workspace = true
readme.workspace = true
edition = "2021"
repository.workspace = true

[dependencies]
actix-web = { version = "4.9", features = ["secure-cookies"] }
anyhow = "1.0"
remoc = { version = "0.14", features = ["full", "codec-message-pack", "default-codec-message-pack", "rmp-serde"], default-features = false }
reqwest = { version = "0.12", features = ["cookies", "json", "socks"] }
serde = { version = "1.0", features = ["derive"] }
strum = { version = "0.26", features = ["derive"] }
tokio = { version = "1.42", features = ["full"] }
tokio-util = "0.7"
m0n1t0r-common = { path = "../m0n1t0r-common" }
m0n1t0r-macro = { path = "../m0n1t0r-macro" }
log = "0.4"
flexi_logger = { version = "0.29", features = ["async"] }
serde_json = "1.0"
thiserror = "2.0"
serde_with = "3.11"
serde-error = "0.1"
actix-ws = "0.3"
shell-words = "1.1"
socks5-impl = { version = "0.6", features = ["client", "serde", "server", "tokio"] }
as-any = "0.3"
url = { version = "2.5", features = ["serde"] }
tokio-rustls = { version = "0.26", features = ["ring", "logging", "tls12"], default-features = false }
rustls = { version = "0.23", features = ["ring", "log", "logging", "std", "tls12"], default-features = false }
rustls-pemfile = "2.2"
rustls-pki-types = "1.10"
rmp-serde = "1.3"
async-compression = { version = "0.4", features = ["lzma", "tokio"] }
async-channel = "2.3"
async_channel_io = "0.3"
async-compat = "0.2"
tokio-stream = "0.1"
libsw = "3.0"
serde_repr = "0.1"
rayon = "1.10"
async_fn_traits = "0.1"
itertools = "0.13"
qqkey = { path = "../deps/qqkey" }
lazy_static = "1.5.0"
scopeguard = "1.2.0"
actix-multipart = "0.7.2"
